@import "tailwindcss";

@theme {
  --color-maroon-50: #fdf2f4;
  --color-maroon-100: #fce7eb;
  --color-maroon-200: #f9d0d9;
  --color-maroon-300: #f4a8b8;
  --color-maroon-400: #ed7591;
  --color-maroon-500: #e0486d;
  --color-maroon-600: #800020;
  --color-maroon-700: #6b001a;
  --color-maroon-800: #5a0016;
  --color-maroon-900: #4d0013;
}
